
body{
	margin: 0;
	padding: 0;
	font-family: century Gothic;

}
ul{
	float: right;
	list-style-type: none;
    margin-top: 25px;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	border: 1px solid transparent;
    transition: 0.6s ease;


}

ul li a:hover{
	background-color:black ;
	color: white

  }
  ul li.active a{
  	background-color:black ;
	color: white;

  }

.logo img{
  	float: left;
  	width: 200px;
  	height: auto;
  }
  .main{
  	max-width: 1200px;
  	margin: auto;
  }

.about{
	width: 50%;
	background: rgba(0,0,0,.7);
	color: #ffffff;
	text-align: center;
	padding: 50px;
	position: absolute;
}

.text{
	height: 100vh;
	display: flex;
	align-items: center;
	margin: auto;
}

h1{
	text-align: center;
}